!!! 5
%html{"ng-app" => "rclvapp"}
  %head
    %title RC Lviv-Centre
    %script{:type => "text/javascript",
        :src => "https://maps.googleapis.com/maps/api/js"}
    %script{:type => "text/javascript",
        :src => "https://connect.facebook.net/en_US/all.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"}

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %meta{"name" => "viewport", "content" => "width=device-width", "initial-scale" => "1.0", "user-scalable" => "0"}
    / %base{"href" => "/" }
    = csrf_meta_tags
  %body
    %div.square
      -# %img{:src => "images/gif/rotary1.gif", :alt => ""}/
    #fb-root
    .col-xs-12
      - flash.each do |name, msg|
        %br
        = content_tag :div, msg, class: 'alert alert-info'
      = yield
    .clear

   